body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    min-height: 20px;
    margin: 2px;
    font-size: 28px;
}

#resultado {
    margin-bottom: 6px;
}

.container-opcoes {
    display: flex;
    gap: 12px;
}

.opcoes {
    font-size: large;
    width: 128px;
    height: 128px;
    background-color: #ddd;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.opcoes:hover {
    background-color: #ccc;
    cursor: pointer;
}
